body{
    font-family: 'Hanken Grotesk';
    font-weight: 500;
    padding-left: 30px;
    font-size: 18px;
   

}


.card-holder{
   
   position: absolute;
   left: 350px;
}


.card{
    background-image: linear-gradient(hsl(252,100%,67%),hsl(241,81%,54%));
    width: 370px;
    height: 450px;
    border-radius: 20px;
    float: left;
    margin: 0 auto;
    padding-bottom: 60px;
    position: absolute;
    z-index: 2;
    
    
}

.card-header{
    text-align: center;
    padding-top: 50px;
    color: hsl(221, 100%, 96%);
    font-weight: 800;
}





.circle{
    background-image: linear-gradient(hsla(256, 72%, 46%, 1),  hsla(241, 72%, 46%, 0) );

border-radius: 200px;
height: 200px;
width: 200px;
margin: auto;
position: relative;
bottom: 40px;
left: 5px;
}

 p{
    display: flex;
    justify-content: center;
    align-items:center ;
    font-size: 4em;
    width: 2.8em;
    height: 2.5em;
    font-weight: 700;
    text-align: center;
}

small{
    font-size: 18px;
    text-align: center;
  position: relative;
  bottom: 120px;
  color: hsla(241, 100%, 89%, 0.7);
}


#footer{
font-weight:700;
font-size: 30px;
position: relative;
bottom: 30px;
}

.footer-text{
    color:hsla(221, 100%, 96%, 0.7 );
    font-weight: 500;
    text-align: center;   
}



.card-2{
  background-color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 1;
    padding-bottom: 60px;
    box-shadow: 7px 7px 7px 7px hsla(0, 3%, 75%, 0.568);
    float: left;
    width: 345px;
    height: 450px;
    position: absolute;
    left:355px ;
    
    
}

.card2-header{
    padding-top: 50px;
    position: relative;
    left: 30px;
   
    font-weight: 700;
    
}

.box{
    display: flex;
    flex-direction: column;
    top: 50px;
    position: relative;
    gap: 10px;
    
   
}


.btn-1{
    background-color: hsl(224, 30%, 27%);
    color: white;  
    border-radius: 20px; 
    font-family: 'Hanken Grotesk'; 
    width: 250px;
    height: 45px;
    position: relative;
    top: 175px;
    left: 30px;
    
   
}

.Red{
    background-color:hsla(0, 100%, 67%, 0.1) ;
    position: relative;
    bottom: 20px;
    border-radius: 10px 10px;
    height: 40px;
    width: 75%;
    left: 10%;
    
    
}

.Yellow{
    background-color:hsla(39, 100%, 56%,0.1) ;
    position: relative;
    border-radius: 10px 10px;
    height: 40px;
    width: 75%;
    left: 10%;
    
}

.Green{
    background-color:hsla(166, 100%, 37%,0.1) ;
    position: relative;
    top: 25px;
    border-radius: 10px 10px;
    height: 40px;
    width: 75%;
    left: 10%;
   
}
.Blue{
    background-color:hsla(234, 85%, 45%,0.1) ;
    position: relative;
    top: 50px;
    border-radius: 10px 10px;
    height: 40px ;
    width: 75%;
    left: 10%;
  
}
img{
    position: relative;
    left: 10px;
    top: 5px;
}




div.Red > p{
    color: hsl(0, 100%, 67%);
    font-size: 18px;
    position: relative;
    bottom: 57px;
    left: 40px;
    
}
div.Blue > p{
    color: hsl(234, 85%, 45%);
    font-size: 18px;
    position: relative;
    bottom: 57px;
    left: 40px;
} 
div.Green > p{
    color: hsl(166, 100%, 37%);
    font-size: 18px;
    position: relative;
    bottom: 57px;
    left: 40px;
}
div.Yellow > p{
    color: hsl(39, 100%, 56%);
    font-size: 18px;
    position: relative;
    bottom: 57px;
    left: 40px;
}


#number{
position: absolute;
left: 160px;
bottom:7px ;
font-weight: 700;
}

#numbers{
    font-weight: 700;
    color: hsla(0, 0%, 53%, 0.9);
    position: absolute;
    left: 190px;
    bottom:7px
}
